/*
  misc styles, nothing to do with CSS variables
*/
:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
  --primary-color-text: #FFF;
}

img {
  background: var(--base);
  filter: blur(var(--blur));
  padding: var(--spacing);
}
.hl {
  color: var(--base);
}

body {
  background: #193549;
  color: var(--primary-color-text);
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 30px;
  text-align: center;
  height: 100vh;
}
.controls {
  margin-bottom: 50px;
}
input {
  width:100px;
}